body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}

/* classes */
.maindiv
{
    /* I made this box larger as the original example seems larger*/
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    align-self: center;
    align-items: center;
}

.formtable
{
    margin-left: auto;
    margin-right: auto;
}
.value
{
    background-color: yellow;
}

.copyright
{
    font-size: small;
}


/* ids */
#mainCalculatorTitle
{
    background-color: white;
    color: gray;
}

